*{
    box-sizing: border-box;
}
.banner{
    width: 100%;
}
.box{
    width: 50%;
    height: 300px;
    padding: 50px;
   float: left;
}
.box1{
    background-color: green;
}
.box2{
    background-color: blue;
}
